<body>
     <section class="current-orders">
    <h2>Current Orders</h2>
    <ul class="order-list">
      {{#each orders}}
        <li class="order-item">
          <div class="order-details">
            <h3>Order ID: {{this.orderConfirmation}}</h3>
            <p>Customer: {{this.customerName}}</p>
            <p>Delivery Address: {{this.deliveryAddress}}</p>
            <p>Date: {{this.orderDateTime}}</p>
            <p>Items Ordered: {{this.itemsOrdered.length}}</p>
            <!-- <p>Total: ${{calculateTotal this.itemsOrdered}}</p> -->
          </div>
          <div class="order-actions">
            <a href="/order/{{this._id}}">View Details</a>
            <button class="update-status" data-order-id="{{this._id}}">Update Status</button>
          </div>
        </li>
      {{/each}}
    </ul>
  </section>
</body>